html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
body {
  display: flex;
  flex-flow: column nowrap;
  color: black;
  background-color: white;
}
div.header {
  flex-shrink: 0;
}
div.content {
  flex: 1 0 auto;
}
div.footer {
  flex-shrink: 0;
}
